/* global colors */
:root{
    --gray: #2e2f42;
    --navy-blue: #434455;
    --iris: #4d5ae5;
    --conrflower: #e7e9Fc;
    --white: #ffffff;
    --nav-blue:#404bbf;
    --main-bg-color: #ffffff;
}

body {
        font-family: Roboto, sans-serif;
        color: var(--navy-blue);
        background-color: var(--white);
        max-width: 1440px;
        margin: 0 auto;
    }
.link {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    line-height: 1.17;
    font-style: normal; /* removes underline on links */
    color: var(--iris);
}
/*Higlighting word "WEB" on logo */
.hd-studio {
    color: var(--gray);
}
/* default bg color for header */
header {
    background-color: var(--white) ;
}

/* -----------------------------nav------------------------------ */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list li:first-child a{
    text-decoration: none;
    font-style: normal;
}
.sub {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray);
}

/* Hover effect for the first link in the list */
.sub:hover {
    color: var(--nav-blue);
}
.sub:focus {
    color: var(--nav-blue);
}
/* Hover effect for the first link in the list */
.link-first-item:hover {
    color: var(--iris);
}
/* ---------------------------Address------------------------------- */
.remove {
    font-style: normal;
}

.add{
    color: var(--navy-blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.add:hover {
    color: var(--nav-blue);
}
.add:focus {
    color: var(--nav-blue);
}

/* ---------------------------Portfolio Nav---------------------------- */
.port-nav{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--gray);
}
.port-nav:hover {
    color: var(--nav-blue);
}

.port-nav:focus {
    color: var(--nav-blue);
}

.contacts-list{
    font-style: normal;
}
    /*----------------------Portfolio buttons----------------------*/

     .portfolio-buttons{
        background-color: var(--conrflower);
        /* Background color */
        color: var(--navy-blue);
        cursor: pointer;
        /* font style */
        font-family: Roboto , sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    
    }

    /* Hover effect for the button */
    .portfolio-buttons:hover{
        background-color: var(--iris);
        /* Change the background color on hover */
        color: var(--white);
}
    /*----------------------sections----------------------*/

/* h3{
   font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
} */

p {
    font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
}
/*----------------------footer----------------------*/
.footer-bg {
    background-color: var(--gray);
        color: var(--white);
}
.footer-link{
    color: var(--iris);
    text-decoration: none;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.ft-studio{
    color: #f4f4fd;
}
.ft-p{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

/*----------------------Main Sections----------------------*/
.first{
            background-color: var(--gray);
            color: var(--white);
}
.first-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.main-button {
    background-color: var(--iris);
    /* Background color */
    color: var(--white);
    cursor: pointer;
    /* font style */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

/* Hover effect for the button */
.main-button:hover {
    background-color: #404BBF;
    /* Change the background color on hover */
    color: var(--white);
}
.main-button:focus{
    background-color: #404BBF;
}
/* ------------------------ 2nd Section ------------------------------ */
.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--gray);
}

.second-a{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ------------------------ 3rd Section ------------------------------ */
.thirdsec-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--gray);
}
/* ------------------------ 4th Section ------------------------------ */
.fourthsec {
    background-color: #f4f4fd;
}
.fourthsec-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--gray);
}

ul li:first-child {
    background-color: #FFFFFF;
}
/* .custom-class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
} */

/* ------------------------ 4th Section ------------------------------ */
.sention2 {
    background: color: var(--WHITE);
}
.thirdsec-img {
    width: 360px;
    height: 300px;
}
